header{
	width: 100%;
	height: 300px;

	background-color: grey;

}

section{
	width: 100%;
	text-align: center;
	background-color: lightyellow;
	
}

html,body{
	margin: 0px;
	padding: 0px;
}

.header-text{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	text-align: center;
}

.fa-bars-1{
padding-left: 30px;
font-size: 30px;

}
.fa-bars-2{
margin-left: 80%;
font-size: 30px;
display: block;
width: 40px;

}



.slider{
	display: none;
	/*opacity: 0; 使用opactiy属性这样设置的话，实际上他已经在页面上显示了只是透明的而已，
	这个时候出现的问题，就是点击按钮不能够正确地触发，原因就在于是实际上点击的是透明的图层，
	根本就没有点击上正确的按钮。
	
	*/
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: #b4ccc7;
  top: 0px;
  -webkit-transition: all .2s ease-in;
   transition: all .2s ease-in;
}

