*{
box-sizing:border-box;
}

.nav-list{
float:left;
margin:auto;
padding-left:10px;
list-style:none;

}

#nav-list{
display: inline-flex;
position:fixed;
left:0;
right:0;
top:0;
z-index: 1;
background-color:white;
}


#tel-icon{

vertical-align:middle;
text-align:center;
display:flex;
height:30px;
float:left;
margin:auto 5px;
color: #969696;
display:inline-flex;
border:1px solid #969696;
}

#tel{
background-color:#969696;

}
.number{
margin:auto;
line-height: 30px;
font-family: 'Titillium Web', sans-serif;
background-color:white;
}


li>a:hover{
text-decoration: underline;
cursor:pointer;
color: #23527c;
}

#banner{
background-image: url("banner.jpg");
text-align:center;
height:800px;
background-size:cover;
color:white;
margin-top:100px;
position:relative;	
}


h2{
font-size:40px;
}

.login{
margin:auto;
float:left;

}
.login-btn{
background-color:#D8603E;
color:white;
height:30px;
border-radius:2px;
float:left;
}

.login-text{
float:left;
margin-left:15px;
}

#girl{
background-image:url('girl.jpg');
background-size:cover;
height:800px;
position:relative;

}

.girl-content{
margin-right:30px;
text-align:right;

}

.detail{
height:30px;
border-radius:50%;
border:1px solid blue;
}